.container:after {
    content: "\0020";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden
}

.clearfix:after,
.clearfix:before,
.row:after,
.row:before {
    content: "\0020";
    display: block;
    overflow: hidden;
    visibility: hidden;
    width: 0;
    height: 0
}

.clearfix:after,
.row:after {
    clear: both
}

.clearfix,
.row {
    zoom: 1
}

#s-content.s-font-body-hei .s-font-body,
#s-content.s-font-button-hei .s-font-button,
#s-content.s-font-heading-hei .s-font-heading,
#s-content.s-font-title-hei .s-font-title {
    font-family: custom_hei, open_sans, Open Sans, Lucida Grande, Verdana, Pingfang SC, Pingfang TC, Hiragino Sans GB, Microsoft YaHei, sans-serif
}

#s-content.s-font-body-hei .s-font-body:lang(sxl),
#s-content.s-font-body-hei .s-font-body:lang(zh),
#s-content.s-font-body-hei .s-font-body:lang(zh-cn),
#s-content.s-font-button-hei .s-font-button:lang(sxl),
#s-content.s-font-button-hei .s-font-button:lang(zh),
#s-content.s-font-button-hei .s-font-button:lang(zh-cn),
#s-content.s-font-heading-hei .s-font-heading:lang(sxl),
#s-content.s-font-heading-hei .s-font-heading:lang(zh),
#s-content.s-font-heading-hei .s-font-heading:lang(zh-cn),
#s-content.s-font-title-hei .s-font-title:lang(sxl),
#s-content.s-font-title-hei .s-font-title:lang(zh),
#s-content.s-font-title-hei .s-font-title:lang(zh-cn) {
    font-family: custom_hei, open_sans, Open Sans, Lucida Grande, Verdana, Pingfang SC, Pingfang TC, Hiragino Sans GB, Microsoft YaHei, PingFang SC, 微软雅黑, STXihei, 华文细黑, sans-serif
}

.page-wrapper {
    min-height: 100%
}

ul.slides li.slide {
    position: relative;
    outline: none
}

.section-anchor {
    position: absolute;
    top: 0;
    left: 0
}

.column,
.columns {
    transition: width .2s cubic-bezier(.7, 0, .3, 1), margin .2s cubic-bezier(.7, 0, .3, 1), padding .2s cubic-bezier(.7, 0, .3, 1)
}

.s-common-button {
    zoom: 1;
    padding: 10px 20px;
    background: #eee;
    word-break: break-word
}

.s-common-button#custom-btn.medium {
    font-size: 20px;
    padding: 16px 28px
}

#s-content {
    position: relative;
    overflow: hidden;
    margin-left: 0;
    min-height: 100vh;
    font-size: 16px
}

#s-content h2 {
    font-size: 36px
}

#s-content h3 {
    font-size: 24px
}

#s-content h4 {
    font-size: 20px
}

#s-content h6 {
    font-size: 16px
}

#s-content h1,
#s-content h2,
#s-content h3,
#s-content h4,
#s-content h5,
#s-content h6 {
    line-height: inherit;
    font-weight: inherit
}

@media only screen and (max-width:479px) {
    #s-content h2 {
        font-size: 24px
    }

    #s-content h3 {
        font-size: 20px
    }

    #s-content h4,
    #s-content h5,
    #s-content h6 {
        font-size: 16px
    }
}

#s-content .s-last-section-no-footer.s-show-strikingly-logo .s-section,
#s-content .s-section.s-footer-section {
    padding-bottom: 120px !important
}

.s-text .s-component-content {
    word-wrap: break-word
}

.s-text .s-component-content b,
.s-text .s-component-content b a,
.s-text .s-component-content b em,
.s-text .s-component-content strong,
.s-text .s-component-content strong a,
.s-text .s-component-content strong em {
    font-weight: 700
}

.s-text .s-component-content div,
.s-text .s-component-content p {
    line-height: inherit
}

.s-image,
.s-media {
    min-height: 1px
}

.s-image .s-component-content a,
.s-media .s-component-content a {
    outline: none
}

.s-image img,
.s-media img {
    max-width: 100%;
    vertical-align: middle
}

.s-ratio-box {
    position: relative;
    margin: 0 auto
}

.s-ratio-box iframe,
.s-ratio-box img,
.s-ratio-box video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block
}

.s-bg-blurred {
    position: relative
}

.background-image .loaded {
    opacity: 0
}

.s-section {
    padding: 80px 0;
    color: #50555c
}

.s-section,
.s-section .s-component.s-text .s-component-content,
.s-section .s-component.s-text .s-component-content a,
.s-section .s-component.s-text .s-component-content div,
.s-section .s-component.s-text .s-component-content em,
.s-section .s-component.s-text .s-component-content li,
.s-section .s-component.s-text .s-component-content p,
.s-section .s-component.s-text .s-component-content span,
.s-section .s-component.s-text .s-component-content strong {
    line-height: 1.45
}

.s-section.s-bg-dark-text {
    color: #222
}

.s-section.s-bg-dark-text .s-blog-details-blurb,
.s-section.s-bg-dark-text .s-blog-info,
.s-section.s-bg-dark-text .s-blog-title,
.s-section.s-bg-dark-text .s-ecommerce-card-view-card-name:not(.natural-color),
.s-section.s-bg-dark-text .s-ecommerce-card-view-card-price,
.s-section.s-bg-dark-text .s-item-subtitle,
.s-section.s-bg-dark-text .s-item-text,
.s-section.s-bg-dark-text .s-item-title,
.s-section.s-bg-dark-text .s-subtitle,
.s-section.s-bg-dark-text .s-title {
    color: #222
}

@media only screen and (max-width:727px) {
    .s-section {
        padding: 40px 0
    }

    .s-section.s-footer-section {
        padding: 40px 0 80px
    }
}

.s-section .s-title-group {
    margin-bottom: 30px;
    position: relative
}

.s-section .s-title-group .s-title {
    line-height: 1.2;
    margin-bottom: 15px
}

.s-section .s-title-group .s-title .s-component.s-text .s-component-content,
.s-section .s-title-group .s-title .s-component.s-text .s-component-content a,
.s-section .s-title-group .s-title .s-component.s-text .s-component-content div,
.s-section .s-title-group .s-title .s-component.s-text .s-component-content em,
.s-section .s-title-group .s-title .s-component.s-text .s-component-content li,
.s-section .s-title-group .s-title .s-component.s-text .s-component-content p,
.s-section .s-title-group .s-title .s-component.s-text .s-component-content span,
.s-section .s-title-group .s-title .s-component.s-text .s-component-content strong {
    line-height: 1.2
}

.s-section .s-title-group .s-subtitle {
    margin-bottom: 10px
}

.s-section .s-item-text-group .s-item-title {
    margin-bottom: 5px
}

.s-section .s-item-text-group .s-item-subtitle {
    margin-bottom: 5px
}

.s-section .s-repeatable {
    clear: both
}

.s-section.s-media-section .s-repeatable-item,
.s-section.s-rows-section .s-repeatable-item,
.s-section.s-text-section .s-repeatable-item {
    margin-bottom: 35px
}

.s-section.s-media-section .s-repeatable-item.s-last-row,
.s-section.s-media-section .s-repeatable-item:last-child,
.s-section.s-rows-section .s-repeatable-item.s-last-row,
.s-section.s-rows-section .s-repeatable-item:last-child,
.s-section.s-text-section .s-repeatable-item.s-last-row,
.s-section.s-text-section .s-repeatable-item:last-child {
    margin-bottom: 0
}

@media only screen and (max-width:727px) {

    .s-section.s-media-section .s-item-media-group,
    .s-section.s-rows-section .s-item-media-group,
    .s-section.s-text-section .s-item-media-group {
        margin-bottom: 15px
    }
}

.s-section.s-cta-section,
.s-section.s-new-title-section {
    text-align: center
}

.s-section.s-cta-section .s-common-button,
.s-section.s-new-title-section .s-common-button {
    text-align: center
}

.s-section.s-footer-section {
    position: relative;
    padding-bottom: 120px
}

.s-section.s-footer-section .container.s-layout-grid {
    font-size: 14px
}

.s-section.s-footer-section .container.s-layout-grid .columns {
    padding-bottom: 10px
}

@media only screen and (max-width:727px) {
    .s-section.s-footer-section .container.s-layout-grid {
        text-align: left
    }

    .s-section.s-footer-section .container.s-layout-grid .columns {
        padding-bottom: 30px
    }
}

.s-section.transition {
    transition: padding-bottom .5s
}

.s-section.collapse-bottom-padding {
    padding-bottom: 0 !important
}

.page-wrapper {
    min-height: 100vh
}

#s-content.s-theme-alignment-center .s-section.s-hero-section .s-media,
#s-content.s-theme-alignment-center .s-section.s-rows-section .s-media,
#s-content.s-theme-alignment-center .s-section.s-slider-section .s-media {
    text-align: center
}

#s-content.s-theme-alignment-center .s-common-button {
    text-align: center
}

#s-content.s-theme-alignment-center .s-section.s-block-section,
#s-content.s-theme-alignment-center .s-section.s-block-section .s-block-profile,
#s-content.s-theme-alignment-center .s-section.s-blog-section,
#s-content.s-theme-alignment-center .s-section.s-columns-section,
#s-content.s-theme-alignment-center .s-section.s-columns-section .s-item-media-group,
#s-content.s-theme-alignment-center .s-section.s-cta-section,
#s-content.s-theme-alignment-center .s-section.s-donation-section .s-donation,
#s-content.s-theme-alignment-center .s-section.s-footer-section,
#s-content.s-theme-alignment-center .s-section.s-footer-section .container.s-layout-vertical,
#s-content.s-theme-alignment-center .s-section.s-icons-section,
#s-content.s-theme-alignment-center .s-section.s-info-section,
#s-content.s-theme-alignment-center .s-section.s-media-section .s-item-media-group,
#s-content.s-theme-alignment-center .s-section.s-new-title-section,
#s-content.s-theme-alignment-center .s-section.s-process-section .s-repeatable-item,
#s-content.s-theme-alignment-center .s-section.s-process-section .s-repeatable>div,
#s-content.s-theme-alignment-center .s-section.s-process-section .s-repeatable>div>div,
#s-content.s-theme-alignment-center .s-section.s-process-section .ui-sortable,
#s-content.s-theme-alignment-center .s-section.s-repeatable,
#s-content.s-theme-alignment-center .s-section.s-slider-section,
#s-content.s-theme-alignment-center .s-section.s-store-section .s-ecommerce-card-view-wrapper .s-ecommerce-card-view-cards {
    text-align: center
}

#s-content.s-theme-alignment-center .s-title-group {
    text-align: center;
    z-index: 2
}

@media only screen and (min-width:728px) {
    .s-section .container {
        position: relative;
        width: 100%;
        margin: 0 auto;
        padding: 0
    }

    .s-section .container .column,
    .s-section .container .columns {
        float: left;
        display: inline;
        margin-left: 1.04166666%;
        margin-right: 1.04166666%
    }

    .s-section .container .four.columns {
        width: 22.8166666%
    }

    .s-section .container .six.columns {
        width: 35.3166666%
    }

    .s-section .container .ten.columns {
        width: 60.3166666%
    }

    .s-section .container .sixteen.columns {
        width: 97.8166666%
    }

    .s-section .half-offset-left {
        padding-left: 3.125%
    }
}

@media only screen and (max-width:727px) {
    .s-section .container {
        position: relative;
        width: 90%;
        margin: 0 auto;
        padding: 0
    }

    .s-section .container .column,
    .s-section .container .columns {
        float: left;
        display: inline;
        margin-left: 1.04166666%;
        margin-right: 1.04166666%
    }

    .s-section .container .eight.columns,
    .s-section .container .eleven.columns,
    .s-section .container .fifteen.columns,
    .s-section .container .fifth.columns,
    .s-section .container .five.columns,
    .s-section .container .four.columns,
    .s-section .container .fourteen.columns,
    .s-section .container .nine.columns,
    .s-section .container .one.column,
    .s-section .container .one.columns,
    .s-section .container .seven.columns,
    .s-section .container .six.columns,
    .s-section .container .sixteen.columns,
    .s-section .container .sixth.columns,
    .s-section .container .ten.columns,
    .s-section .container .third.column,
    .s-section .container .third.columns,
    .s-section .container .thirteen.columns,
    .s-section .container .three.columns,
    .s-section .container .twelve.columns,
    .s-section .container .two-thirds.column,
    .s-section .container .two.columns {
        width: 97.8166666%
    }

    .s-section .container .column.half-fixed,
    .s-section .container .eight.columns.half-fixed,
    .s-section .container .eleven.columns.half-fixed,
    .s-section .container .fifteen.columns.half-fixed,
    .s-section .container .fifth.columns.half-fixed,
    .s-section .container .five.columns.half-fixed,
    .s-section .container .four.columns.half-fixed,
    .s-section .container .fourteen.columns.half-fixed,
    .s-section .container .nine.columns.half-fixed,
    .s-section .container .one.column.half-fixed,
    .s-section .container .one.columns.half-fixed,
    .s-section .container .seven.columns.half-fixed,
    .s-section .container .six.columns.half-fixed,
    .s-section .container .sixteen.columns.half-fixed,
    .s-section .container .sixth.columns.half-fixed,
    .s-section .container .ten.columns.half-fixed,
    .s-section .container .third.column.half-fixed,
    .s-section .container .third.columns.half-fixed,
    .s-section .container .thirteen.columns.half-fixed,
    .s-section .container .three.columns.half-fixed,
    .s-section .container .twelve.columns.half-fixed,
    .s-section .container .two-thirds.half-fixed.column,
    .s-section .container .two.columns.half-fixed {
        width: 47.9%;
        display: inline-block;
        vertical-align: top;
        float: none;
        zoom: 1
    }

    .s-section .half-offset-left {
        padding-left: 0
    }
}

.slides .s-common-link a,
.slides .s-text .s-component-content a,
.slides a.s-common-link {
    color: #2aabd9
}

.s-font-title {
    font-family: montserrat, sans-serif
}

.s-font-title:lang(sxl),
.s-font-title:lang(zh),
.s-font-title:lang(zh-cn) {
    font-family: montserrat, PingFang SC, Microsoft YaHei, 微软雅黑, STXihei, 华文细黑, sans-serif
}

.s-font-body {
    font-family: montserrat, sans-serif
}

.s-font-body:lang(sxl),
.s-font-body:lang(zh),
.s-font-body:lang(zh-cn) {
    font-family: montserrat, PingFang SC, Microsoft YaHei, 微软雅黑, STXihei, 华文细黑, sans-serif
}

.s-font-heading {
    font-family: montserrat, sans-serif
}

.s-font-heading:lang(sxl),
.s-font-heading:lang(zh),
.s-font-heading:lang(zh-cn) {
    font-family: montserrat, PingFang SC, Microsoft YaHei, 微软雅黑, STXihei, 华文细黑, sans-serif
}

.s-font-button {
    font-family: montserrat, sans-serif
}

.s-font-button:lang(sxl),
.s-font-button:lang(zh),
.s-font-button:lang(zh-cn) {
    font-family: montserrat, PingFang SC, Microsoft YaHei, 微软雅黑, STXihei, 华文细黑, sans-serif
}

#s-content h1,
#s-content h2 {
    margin-bottom: 10px
}

#s-content h3 {
    font-size: 18px
}

#s-content h3,
#s-content h4,
#s-content h5 {
    margin-bottom: 5px
}

#s-content h6 {
    margin-bottom: 5px
}

.s-section {
    margin: 0 auto;
    padding: 60px 0;
    display: -webkit-flex;
    display: flex;
    align-items: center
}

.s-section .container {
    max-width: 1060px
}

@media only screen and (max-width:1023px) {
    .s-section .container {
        width: 90%;
        margin: 0 auto
    }
}

@media only screen and (min-width:1024px) {
    .s-section .container {
        width: 84%;
        margin: 0 auto
    }
}

.s-section .s-title-group {
    margin-bottom: 40px
}

.s-common-button {
    padding: 14px 28px;
    display: inline-block;
    font-weight: 700;
    text-decoration: none;
    font-size: 20px;
    color: #fff;
    cursor: pointer
}

.s-footer-section .container {
    padding-top: 15px;
    background-color: transparent;
    border-bottom: none
}

.s-section .container {
    max-width: 94% !important
}

.s-bg-gray {
    background: #e8eaec
}

.s-section.s-bg-gray {
    background: #e8eaec
}