# IDE
.idea/
.vs/
.vscode/
# python
.venv/
# 编写中
other/links/
# Just for fun
zh_cn/js/neofetch.js
# TEST
test/
test.*
# npm
node_modules/
# 玩音游玩的
.action_scripts/Python/玩音游玩的-*.log
.action_scripts/Python/玩音游玩的.py
# 提醒自己的
minecraft/photos/INFO.txt
