/* 芙芙工具箱网页通用样式 Version 1.2 */
/* by鸭鸭「カモ」 */
/* NOTE:全站所有相同样式页面都会用到的才可放进来！ */

table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
}

th {
    background-color: #f2f2f2;
}

code {
    display: inline-block;
    padding: 0.5em;
    background-color: rgba(235, 235, 235, 1);
    color: #333;
    border-radius: 4px;
    font-family: Consolas, 'Courier New', monospace;
}

pre {
    white-space: pre-wrap;
}

.right-text {
    text-align: right;
}

.center-text {
    text-align: center;
}

.left-text {
    text-align: left;
}

a:not(:has(img)) {
    color: #007bff;
    padding: 3px 5px;
}

a:not(:has(img)):hover {
    color: #0056b3;
    background-color: #e9ecef;
}
