.btn_overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0); /* 将初始背景色改为完全透明 */
    border-radius: 10px; /* 添加与按钮容器相同的圆角 */
    transition: background-color 0.3s ease; /* 添加过渡效果 */
}

.btn_container {
    position: relative;
    width: 10%;
    background-color: rgba(255, 255, 255, 0.7); /* 亚克力效果垫底 */
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    transition: background-color 0.3s ease; /* 添加过渡效果 */
}

.btn_container:hover .btn_overlay {
    background-color: rgba(0, 0, 0, 0.1); /* 鼠标悬停时改变覆盖层背景色的透明度 */
}
