name: 检查本地路径

# GitHub Action DuckDuckStudio/Check_Locale_Paths 版本 1.0.0 示例工作流
# https://github.com/marketplace/actions/check-locale-paths
# 通过 [GNU Affero General Public License v3.0](https://github.com/DuckDuckStudio/Check_Locale_Paths/blob/main/LICENSE) 许可
# 此工作流最初通过 [GNU Affero General Public License v3.0](https://github.com/DuckDuckStudio/yazicbs.github.io/blob/main/LICENSE.txt) 从 DuckDuckStudio/yazicbs.github.io 获得许可。

on:
  push:
    branches:
      - main
  pull_request:

permissions: {}

jobs:
  check-local-paths:
    runs-on: ubuntu-latest

    steps:
      - name: 检查本地路径
        uses: DuckDuckStudio/Check_Locale_Paths@1.0.4
        with:
          skip_files: Tools/Fufu_Tools/minimum/index.html
          skip_folders: Tools/Fufu_Tools/wiki
          # 其他默认
          # formats: html,css,js
