name: Eslint

on:
  push:
    branches:
      - main
  pull_request:

permissions: {}

jobs:
  check-url:
    runs-on: ubuntu-latest

    steps:
      - name: 检出代码
        uses: actions/checkout@v6

      - name: 设置 Node.js
        uses: actions/setup-node@v6
        with:
          node-version: latest

      - name: 运行 Eslint
        shell: bash
        run: |-
          npm install
          npm run lint
